@media(max-width:850px) {
    .header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        margin-top: 40px;
    }

    .menu li {
        padding: 20px 0;
        margin: 10px;
    }

    .menu li a {
        font-size: 2rem;
        padding: 17px 40px;
    }

    .btn {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        border-radius: 50%;
        padding: 15px 23px;
        margin: 10px ;
    }

    .btn a {
        font-size: 15px;
        padding: 15px 23px;
    }
}